{{define "difficulty"}}
<!DOCTYPE html>
<html>
<head>
    <title>Hangman</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body class="Page1">
    <div class="container">
        <h1>Hangman - Choisissez votre niveau de difficulté</h1>
        <form action="/init" method="post">
            <label for="difficulty">Choisissez la difficulté :</label>
            <select id="difficulty" name="difficulty">
                <option value="OptionADictionnaire">Dictionnaire</option>
                <option value="OptionBFacile">Facile</option>
                <option value="OptionnCMoyen">Moyen</option>
                <option value="OptionDDifficile">Difficile</option>
                <option value="OptionEHalloween">Halloween</option>
            </select>
            <button type="submit">Commencer</button>
        </form>
    </div>
</body>
</html>
{{end}}